<html>
  <head>
      {% if title %}
      <title>{{title}} - imgboard</title>
      {% else %}
      <title>Imgboard</title>
      {% endif %}
  </head>
  <body>
    <div>
      Imageboard: <a href="/index">Home</a>
      Testpage: <a href="/nya">Test</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>